image: "localhost:5000/fybrik-system/mover:latest"
imagePullPolicy: "IfNotPresent"
noFinalizer: "true"


copy:
  source:
    connection:
      name: s3
      s3:
        bucket: fybrik-test-bucket
        endpoint: s3.eu-gb.cloud-object-storage.appdomain.cloud
        object_key: car.data.copy.parq
      type: 2
    format: parquet
    vault:
      read:
        address: http://vault.fybrik-system:8200
        authPath: /v1/auth/kubernetes/login
        role: module
        secretPath: "/v1/kubernetes-secrets/secret-name?namespace=default"

  destination:
    connection:
      name: s3
      s3:
        bucket: fybrik-test-bucket
        endpoint: s3.eu-gb.cloud-object-storage.appdomain.cloud
        object_key: car.data.parq
      type: 2
    format: parquet
    vault:
      write:
        address: http://vault.fybrik-system:8200
        authPath: /v1/auth/kubernetes/login
        role: module
        secretPath: "/v1/kubernetes-secrets/secret-name?namespace=default"

  transformations:
  - id: "redact-ID"
    level: 2 # column
    args:
      column_name: col1
  - id: "removed-ID"
    level: 2 # column
    args:
      column_name: col2
