repos:
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.43.0
    hooks:
    - id: golangci-lint
      name: golangci-lint
      description: Fast linters runner for Go.
      entry: golangci-lint run --new-from-rev=origin/master --fast
      types: [ go ]
      language: golang
      pass_filenames: false
      verbose: true
