# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
movement-operator
/manager
config/default/kustomization.yaml

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# custom stuff
!vendor/**/zz_generated.*
.idea/
*.swp
*.swo
*~
