image: "kind-registry:5000/m4d-system/mover:latest"
imagePullPolicy: "IfNotPresent"
noFinalizer: "true"


copy:
  source:
    connection:
      name: s3
      s3:
        bucket: m4d-test-bucket
        endpoint: s3.eu-gb.cloud-object-storage.appdomain.cloud
        object_key: car.data.copy.parq
      type: 2
    credentialLocation: /v1/m4d/dataset-creds/m4d-test-bucket
    format: parquet

  destination:
    connection:
      name: s3
      s3:
        bucket: m4d-test-bucket
        endpoint: s3.eu-gb.cloud-object-storage.appdomain.cloud
        object_key: car.data.parq
      type: 2
    credentialLocation: /v1/m4d/dataset-creds/m4d-test-bucket
    format: parquet

  transformations:
  - id: "redact-ID"
    level: 2 # column
    args:
      column_name: col1
  - id: "removed-ID"
    level: 2 # column
    args:
      column_name: col2
