{% extends "main.html" %} {% block tabs %} {{ super() }}
<style>
     :root {
        --goreleaser-primary-color: #3b5672;
    }
    
    .md-header {
        position: initial
    }
    
    .md-main__inner {
        margin: 0
    }
    
    .md-content {
        display: none
    }
    
    .tx-container {
        padding-top: 1rem;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: white' /></svg>") no-repeat bottom, linear-gradient(to bottom, var(--md-primary-fg-color), var(--goreleaser-primary-color) 99%, #fff 99%)
    }
    
    .tx-hero {
        margin: 0 .8rem;
        color: var(--md-primary-bg-color)
    }
    
    .tx-hero h1 {
        margin-bottom: 1rem;
        color: currentColor;
        font-weight: 700
    }
    
    .tx-hero__content {
        padding-bottom: 6rem
    }
    
    .tx-hero .md-button {
        margin-top: .5rem;
        margin-right: .5rem;
        color: var(--md-primary-bg-color)
    }
    
    .tx-hero .md-button--primary {
        background-color: var(--md-primary-bg-color);
        color: var(--goreleaser-primary-color);
        border-color: var(--md-primary-bg-color)
    }
    
    .tx-hero .md-button:focus,
    .tx-hero .md-button:hover {
        background-color: var(--md-accent-fg-color);
        color: var(--md-default-bg-color);
        border-color: var(--md-accent-fg-color)
    }
    
    .feature-item h2 svg {
        height: 30px;
        float: left;
        margin-right: 10px;
        transform: translateY(10%);
    }

    .top-hr {
        margin-top: 42px;
    }

    .feature-item {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        box-sizing: border-box;
        padding: 0 15px;
        word-break: break-word
    }

    .feature-item h2 {
        color: #333;
        font-weight: 300;
        font-size: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        margin-bottom: 10px;
        font-family: inherit;
    }

    .feature-item p {
        font-size: 16px;
        line-height: 1.8em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: #111;
        margin: 0 0 10px;
        display: block;
    }

    @media screen and (max-width:70em) {
        .tx-hero h1 {
            font-size: 1.4rem
        }
        .tx-hero__image {
            text-align: center;
        }
        .tx-hero__image img {
            max-width: 10rem;
        }
    }
    
    @media screen and (min-width:70em) {
        .md-sidebar--secondary {
            display: none
        }
        .tx-hero {
            display: flex;
            align-items: stretch
        }
        .tx-hero__content {
            max-width: 30rem;
            margin-top: 3.5rem;
            padding-bottom: 14vw
        }
        .tx-hero__image {
            order: 1;
            margin-left: auto;
            margin-top: 3.5rem;
        }
        .tx-hero__image img {
            max-width: 15rem;
        }
    }
    
    @media screen and (min-width:76.25em) {
        .md-sidebar--primary {
            display: none
        }
        .tx-hero__image {
            margin-left: auto;
        }
        .tx-hero__image img {
            max-width: 20rem;
        }

        .top-hr {
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .bottom-hr {
            margin-top: 10px;
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .feature-item {
            flex: 1;
            min-width: 0;
        }

        .feature-item:hover {
            background-color: #76b3f4;
            border-radius: 3px;
        }
    }
    }
</style>
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <div class="tx-hero__image">
                <!-- <img src="static/logo.svg" alt="" draggable="false"> -->
            </div>
            <div class="tx-hero__content">
                <h1>Mesh for Data</h1>
                <h2>A cloud-native platform to control data usage</h2>
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}" class="md-button md-button--primary">
					Get started
				</a>
                <a href="{{ config.repo_url }}" title="{{ lang.t('source.link.title') }}" class="md-button">
					Go to GitHub
				</a>
            </div>
        </div>
    </div>
</section>

<!-- Features -->
<div class="top-hr">
    <div class="feature-item">
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="35px" height="35px">
                <path d="M0 0h24v24H0z" fill="none"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/><path d="M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
            </svg>
            Connect
        </h2>
        <p>Abstract thc connection to data and allow seamless access agnostic to the locations of computation and data or the data API and protocol</p>
    </div>
    <div class="feature-item">
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="35px" height="35px">
                <path d="M0 0h24v24H0z" fill="none"/><path d="M5 2c0-.55-.45-1-1-1s-1 .45-1 1v4H1v6h6V6H5V2zm4 14c0 1.3.84 2.4 2 2.82V23h2v-4.18c1.16-.41 2-1.51 2-2.82v-2H9v2zm-8 0c0 1.3.84 2.4 2 2.82V23h2v-4.18C6.16 18.4 7 17.3 7 16v-2H1v2zM21 6V2c0-.55-.45-1-1-1s-1 .45-1 1v4h-2v6h6V6h-2zm-8-4c0-.55-.45-1-1-1s-1 .45-1 1v4H9v6h6V6h-2V2zm4 14c0 1.3.84 2.4 2 2.82V23h2v-4.18c1.16-.41 2-1.51 2-2.82v-2h-6v2z"/>
            </svg>
            Secure
        </h2>
        <p>Secure data usage and enforce governance by intermediating all input and output flows while encapsulating and isolating the workload</p>
    </div>
    <div class="feature-item">
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="35px" height="35px">
                <path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/><path d="M16.59 7.58L10 14.17l-3.59-3.58L5 12l5 5 8-8zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
            </svg>
            Control
        </h2>
        <p>Control and optimize the workload by orchestrating compute and data mobility. Optimize performance, leverage caching, copies and more</p>
    </div>
    <div class="feature-item">
        <h2>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="35px" height="35px">
                <path d="M0 0h24v24H0z" fill="none"/><path d="M20.5 11H19V7c0-1.1-.9-2-2-2h-4V3.5C13 2.12 11.88 1 10.5 1S8 2.12 8 3.5V5H4c-1.1 0-1.99.9-1.99 2v3.8H3.5c1.49 0 2.7 1.21 2.7 2.7s-1.21 2.7-2.7 2.7H2V20c0 1.1.9 2 2 2h3.8v-1.5c0-1.49 1.21-2.7 2.7-2.7 1.49 0 2.7 1.21 2.7 2.7V22H17c1.1 0 2-.9 2-2v-4h1.5c1.38 0 2.5-1.12 2.5-2.5S21.88 11 20.5 11z"/>
            </svg>
            Observe
        </h2>
        <p>Provides instrumentation to observe the use of data by enabling the seamless platform-level collection of metrics, logs, audit and data provenance information </p>
    </div>
</div>

<div class="top-hr">
    <div class="hr">
    </div>
</div>

{% endblock %} {% block content %}{% endblock %} {% block footer %}{% endblock %}