<!--Nav Bar -->
<!-- <div class="container-fluid"> -->
    <!-- <div class="row"> -->
        <!-- <nav class="col-xs-3 collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar">
                <ul class="nav flex-column flex-nowrap overflow-hidden">
                <li class="nav-item">
                    <a class="nav-link text-truncate" href="#"><i class="fa fa-home"></i> <span class="d-none d-sm-inline">Overview</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><i class="fa fa-table"></i> <span class="d-none d-sm-inline">Reports</span></a>
                    <div class="collapse" id="submenu1" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item"><a class="nav-link py-0" href="#"><span>Orders</span></a></li>
                            <li class="nav-item">
                                <a class="nav-link collapsed py-1" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1"><span>Customers</span></a>
                                <div class="collapse" id="submenu1sub1" aria-expanded="false">
                                    <ul class="flex-column nav pl-4">
                                        <li class="nav-item">
                                            <a class="nav-link p-1" href="#">
                                                <i class="fa fa-fw fa-clock-o"></i> Daily </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link p-1" href="#">
                                                <i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link p-1" href="#">
                                                <i class="fa fa-fw fa-bar-chart"></i> Charts </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link p-1" href="#">
                                                <i class="fa fa-fw fa-compass"></i> Areas </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#"><i class="fa fa-bar-chart"></i> <span class="d-none d-sm-inline">Analytics</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#"><i class="fa fa-download"></i> <span class="d-none d-sm-inline">Export</span></a></li>
            </ul>
        </nav> -->
    <!-- </div> -->
<!-- </div> -->

<!-- <nav class="col-xs-3 bs-docs-sidebar">
    <h4>{{ .Section | humanize }}</h4>


    <ul id="sidebar" class="nav flex-column fixed" role="tablist" aria-orientation="vertical">
        
        {{ $section := .Site.GetPage "section" .Section }}

        {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
        {{ $current := . }}

        {{ range $count, $page := $pages }}
            {{ if eq .Parent $section }}

                {{ $id := printf "card%d" $count }}
                <li class="nav-item {{ if eq $current.Permalink .Permalink }}active{{end}} {{ if not (.IsAncestor $current) }}collapsed{{end}}">
                    <a class="nav-link" href="{{$page.RelPermalink}}">
                        {{safeHTML .Params.Pre}}{{or .Params.menuTitle .LinkTitle .Title}}{{safeHTML .Params.Post}}
                    </a>

                    {{ partial "sidebar_level.html" (dict "pages" $pages "parent" $page "current" $current "collapse" false "top" true "labelledby" $id ) }}

                </li>
            {{end}}
        {{end}}
    </ul>
</nav> -->
        
<nav id="sidebar" aria-label="Section Navigation">
    <div class="directory">
        {{ $section := .Site.GetPage "section" .Section }}

        {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
        {{ $current := . }}

        {{ range $count, $page := $pages }}
            {{ if eq .Parent $section }}

                {{ $id := printf "card%d" $count }}
                <div class="card">
                    <button class="header dynamic" id="{{ $id }}" title="{{ $page.Description }}" aria-controls="{{ $id }}-body">
                        {{- if $page.Params.icon -}}
                            {{- partial "icon.html" .Params.icon -}}
                        {{- end -}}
                        {{- $page.LinkTitle -}}
                    </button>

                    <div class="body{{if .IsAncestor $current}} default{{end}}" aria-labelledby="{{ $id }}" role="region" id="{{ $id }}-body">
                        {{ partial "sidebar_level.html" (dict "pages" $pages "parent" $page "current" $current "collapse" false "top" true "labelledby" $id ) }}
                    </div>
                </div>
            {{ end }}
        {{ end }}

    </div>
</nav>