name: python-publish
on:
  workflow_dispatch:
    inputs:
      library-version:
        required: true
        default: '0.1.0'
      pypi-repository-url:
        required: true
        default: 'https://upload.pypi.org/legacy/'
      pypi-user:
        required: true
        default: '__token__'
jobs:
  python-publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3.1.2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build logging package
      run: VERSION=${{ github.event.inputs.library-version }} python -m build ./python/logging --outdir ./dist
    - name: Build vault package
      run: VERSION=${{ github.event.inputs.library-version }} python -m build ./python/vault --outdir ./dist
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: ${{ github.event.inputs.pypi-user }}
        password: ${{ secrets.PYPI_API_TOKEN }}
        repository_url: ${{ github.event.inputs.pypi-repository-url }}
